/* src/Settings.css */

.settings-page {
    font-family: Arial, sans-serif;
    background-color: #a1bdbc;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
  }
  
  .header {
    background-color: #feb7a3;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  h1 {
    color: #fff;
  }
  
  .settings-form {
    margin-bottom: 30px;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin: 10px 0;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    background-color: #fdf4e7;
    border: none;
  }

  select {
    font-size: 20px;
  }
  
  button {
    background-color: #feb7a3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #f5a7a3;
  }